USE [master]
GO
/****** Object:  Database [EVWarrantyManagement]    Script Date: 11/10/2025 10:12:44 PM ******/
CREATE DATABASE [EVWarrantyManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EVWarrantyManagement', FILENAME = N'D:\SQLSeverExpress\MSSQL16.SQLEXPRESS\MSSQL\DATA\EVWarrantyManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EVWarrantyManagement_log', FILENAME = N'D:\SQLSeverExpress\MSSQL16.SQLEXPRESS\MSSQL\DATA\EVWarrantyManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EVWarrantyManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EVWarrantyManagement]
GO
/****** Object:  Schema [ev]    Script Date: 11/10/2025 10:12:44 PM ******/
CREATE SCHEMA [ev]
GO
/****** Object:  Table [ev].[ClaimStatuses]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[ClaimStatuses](
	[StatusCode] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[ClaimStatusLog]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[ClaimStatusLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[ClaimId] [int] NOT NULL,
	[OldStatus] [nvarchar](30) NULL,
	[NewStatus] [nvarchar](30) NOT NULL,
	[ChangedByUserId] [int] NOT NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
	[Comment] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[Customers]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](400) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PasswordHash] [varbinary](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[Parts]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[Parts](
	[PartId] [int] IDENTITY(1,1) NOT NULL,
	[PartCode] [nvarchar](100) NOT NULL,
	[PartName] [nvarchar](300) NOT NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[WarrantyPeriodMonths] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[Roles]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[ServiceCenters]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[ServiceCenters](
	[ServiceCenterId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](400) NULL,
	[ContactName] [nvarchar](200) NULL,
	[ContactPhone] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceCenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[UsedParts]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[UsedParts](
	[UsedPartId] [int] IDENTITY(1,1) NOT NULL,
	[ClaimId] [int] NOT NULL,
	[PartId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PartCost] [decimal](18, 2) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsedPartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[Users]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [varbinary](64) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Email] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[Vehicles]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[Vehicles](
	[VehicleId] [int] IDENTITY(1,1) NOT NULL,
	[VIN] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](200) NULL,
	[CustomerId] [int] NULL,
	[Year] [int] NULL,
	[RegistrationNumber] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[WarrantyClaim]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[WarrantyClaim](
	[ClaimId] [int] IDENTITY(1,1) NOT NULL,
	[VIN] [nvarchar](50) NOT NULL,
	[VehicleId] [int] NULL,
	[ServiceCenterId] [int] NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[DateDiscovered] [date] NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[ImageUrl] [nvarchar](1000) NULL,
	[StatusCode] [nvarchar](30) NOT NULL,
	[Cost] [decimal](18, 2) NULL,
	[Note] [nvarchar](2000) NULL,
	[TechnicianId] [int] NULL,
	[CompletionDate] [date] NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[WarrantyHistory]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[WarrantyHistory](
	[HistoryId] [int] IDENTITY(1,1) NOT NULL,
	[ClaimId] [int] NOT NULL,
	[VIN] [nvarchar](50) NOT NULL,
	[VehicleId] [int] NULL,
	[ServiceCenterId] [int] NULL,
	[CompletedByUserId] [int] NULL,
	[CompletionDate] [date] NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[Note] [nvarchar](2000) NULL,
	[ArchivedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [ev].[ClaimStatuses] ([StatusCode], [Description]) VALUES (N'Approved', N'Ðã phê duy?t')
INSERT [ev].[ClaimStatuses] ([StatusCode], [Description]) VALUES (N'Closed', N'Ðóng (luu kho l?ch s?)')
INSERT [ev].[ClaimStatuses] ([StatusCode], [Description]) VALUES (N'Completed', N'Hoàn thành')
GO
SET IDENTITY_INSERT [ev].[ClaimStatusLog] ON 

INSERT [ev].[ClaimStatusLog] ([LogId], [ClaimId], [OldStatus], [NewStatus], [ChangedByUserId], [ChangedAt], [Comment]) VALUES (1, 1, NULL, N'Pending', 1, CAST(N'2025-11-10T07:55:28.7747478' AS DateTime2), N'Claim created')
INSERT [ev].[ClaimStatusLog] ([LogId], [ClaimId], [OldStatus], [NewStatus], [ChangedByUserId], [ChangedAt], [Comment]) VALUES (2, 2, NULL, N'Pending', 2, CAST(N'2025-11-10T07:55:28.7766431' AS DateTime2), N'Claim created')
INSERT [ev].[ClaimStatusLog] ([LogId], [ClaimId], [OldStatus], [NewStatus], [ChangedByUserId], [ChangedAt], [Comment]) VALUES (3, 3, NULL, N'Pending', 1, CAST(N'2025-11-10T07:55:28.7766431' AS DateTime2), N'Claim created')
SET IDENTITY_INSERT [ev].[ClaimStatusLog] OFF
GO
SET IDENTITY_INSERT [ev].[Customers] ON 

INSERT [ev].[Customers] ([CustomerId], [FullName], [Email], [Phone], [Address], [CreatedAt], [PasswordHash]) VALUES (1, N'Nguyen Van Khach', N'khach@example.com', N'0900000001', NULL, CAST(N'2025-11-10T07:55:28.7640455' AS DateTime2), NULL)
INSERT [ev].[Customers] ([CustomerId], [FullName], [Email], [Phone], [Address], [CreatedAt], [PasswordHash]) VALUES (2, N'Tran Van A', N'a_customer@example.com', N'0901000001', NULL, CAST(N'2025-11-10T09:42:57.7723529' AS DateTime2), NULL)
INSERT [ev].[Customers] ([CustomerId], [FullName], [Email], [Phone], [Address], [CreatedAt], [PasswordHash]) VALUES (3, N'Le Thi B', N'b_customer@example.com', N'0902000002', NULL, CAST(N'2025-11-10T09:42:57.7723529' AS DateTime2), NULL)
SET IDENTITY_INSERT [ev].[Customers] OFF
GO
SET IDENTITY_INSERT [ev].[Parts] ON 

INSERT [ev].[Parts] ([PartId], [PartCode], [PartName], [UnitPrice], [WarrantyPeriodMonths], [CreatedAt]) VALUES (1, N'P-0001', N'Battery Module', CAST(1000.00 AS Decimal(18, 2)), 24, CAST(N'2025-11-10T07:55:28.7663883' AS DateTime2))
INSERT [ev].[Parts] ([PartId], [PartCode], [PartName], [UnitPrice], [WarrantyPeriodMonths], [CreatedAt]) VALUES (2, N'P-0002', N'Inverter', CAST(500.00 AS Decimal(18, 2)), 12, CAST(N'2025-11-10T07:55:28.7663883' AS DateTime2))
INSERT [ev].[Parts] ([PartId], [PartCode], [PartName], [UnitPrice], [WarrantyPeriodMonths], [CreatedAt]) VALUES (3, N'P-0003', N'Charging Port', CAST(150.00 AS Decimal(18, 2)), 12, CAST(N'2025-11-10T07:55:28.7663883' AS DateTime2))
SET IDENTITY_INSERT [ev].[Parts] OFF
GO
SET IDENTITY_INSERT [ev].[Roles] ON 

INSERT [ev].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Admin')
INSERT [ev].[Roles] ([RoleId], [RoleName]) VALUES (6, N'Customer')
INSERT [ev].[Roles] ([RoleId], [RoleName]) VALUES (2, N'EVM')
SET IDENTITY_INSERT [ev].[Roles] OFF
GO
SET IDENTITY_INSERT [ev].[ServiceCenters] ON 

INSERT [ev].[ServiceCenters] ([ServiceCenterId], [Name], [Address], [ContactName], [ContactPhone], [CreatedAt]) VALUES (1, N'SC - Hanoi Center', N'Hanoi street', N'Tran A', N'0123456789', CAST(N'2025-11-10T07:55:28.7548055' AS DateTime2))
INSERT [ev].[ServiceCenters] ([ServiceCenterId], [Name], [Address], [ContactName], [ContactPhone], [CreatedAt]) VALUES (2, N'SC - Saigon Center', N'Saigon street', N'Nguyen B', N'0987654321', CAST(N'2025-11-10T07:55:28.7548055' AS DateTime2))
INSERT [ev].[ServiceCenters] ([ServiceCenterId], [Name], [Address], [ContactName], [ContactPhone], [CreatedAt]) VALUES (3, N'SC - Da Nang Center', N'Da Nang street', N'Le C', N'0912345678', CAST(N'2025-11-10T07:55:28.7548055' AS DateTime2))
SET IDENTITY_INSERT [ev].[ServiceCenters] OFF
GO
SET IDENTITY_INSERT [ev].[UsedParts] ON 

INSERT [ev].[UsedParts] ([UsedPartId], [ClaimId], [PartId], [Quantity], [PartCost], [CreatedAt]) VALUES (1, 7, 1, 1, CAST(10000.00 AS Decimal(18, 2)), CAST(N'2025-11-10T10:03:38.6982095' AS DateTime2))
INSERT [ev].[UsedParts] ([UsedPartId], [ClaimId], [PartId], [Quantity], [PartCost], [CreatedAt]) VALUES (2, 7, 3, 1, CAST(200000.00 AS Decimal(18, 2)), CAST(N'2025-11-10T12:17:37.8442028' AS DateTime2))
INSERT [ev].[UsedParts] ([UsedPartId], [ClaimId], [PartId], [Quantity], [PartCost], [CreatedAt]) VALUES (3, 9, 6, 1, CAST(20000.00 AS Decimal(18, 2)), CAST(N'2025-11-10T12:26:25.0245043' AS DateTime2))
SET IDENTITY_INSERT [ev].[UsedParts] OFF
GO
SET IDENTITY_INSERT [ev].[Users] ON 

INSERT [ev].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Phone], [RoleId], [CreatedAt], [IsActive]) VALUES (1, N'sc_tech1', 0x0B14D501A594442A01C6859541BCB3E8164D183D32937B851835442F69D5C94E, N'Tech SC 1', N'sc1@example.com', NULL, 1, CAST(N'2025-11-10T07:55:28.7629906' AS DateTime2), 1)
INSERT [ev].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Phone], [RoleId], [CreatedAt], [IsActive]) VALUES (2, N'sc_tech2', 0x6CF615D5BCAAC778352A8F1F3360D23F02F34EC182E259897FD6CE485D7870D4, N'Tech SC 2', N'sc2@example.com', NULL, 1, CAST(N'2025-11-10T07:55:28.7629906' AS DateTime2), 1)
INSERT [ev].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Phone], [RoleId], [CreatedAt], [IsActive]) VALUES (5, N'admin1', 0x713BFDA78870BF9D1B261F565286F85E97EE614EFE5F0FAF7C34E7CA4F65BACA, N'Admin 1', N'admin@example.com', NULL, 3, CAST(N'2025-11-10T07:55:28.7629906' AS DateTime2), 1)
SET IDENTITY_INSERT [ev].[Users] OFF
GO
SET IDENTITY_INSERT [ev].[Vehicles] ON 

INSERT [ev].[Vehicles] ([VehicleId], [VIN], [Model], [CustomerId], [Year], [RegistrationNumber], [CreatedAt]) VALUES (1, N'VIN0001', N'ModelX', 1, 2022, N'29A-00001', CAST(N'2025-11-10T07:55:28.7640455' AS DateTime2))
INSERT [ev].[Vehicles] ([VehicleId], [VIN], [Model], [CustomerId], [Year], [RegistrationNumber], [CreatedAt]) VALUES (2, N'VIN0002', N'ModelY', 1, 2021, N'30A-00002', CAST(N'2025-11-10T07:55:28.7640455' AS DateTime2))
INSERT [ev].[Vehicles] ([VehicleId], [VIN], [Model], [CustomerId], [Year], [RegistrationNumber], [CreatedAt]) VALUES (3, N'VIN0003', N'ModelZ', 1, 2023, N'31A-00003', CAST(N'2025-11-10T07:55:28.7640455' AS DateTime2))
SET IDENTITY_INSERT [ev].[Vehicles] OFF
GO
SET IDENTITY_INSERT [ev].[WarrantyClaim] ON 

INSERT [ev].[WarrantyClaim] ([ClaimId], [VIN], [VehicleId], [ServiceCenterId], [CreatedByUserId], [DateDiscovered], [Description], [ImageUrl], [StatusCode], [Cost], [Note], [TechnicianId], [CompletionDate], [TotalCost], [CreatedAt]) VALUES (1, N'VIN0001', 1, 1, 1, CAST(N'2025-11-01' AS Date), N'Battery fault – unable to charge', NULL, N'Closed', NULL, N'Vui ve', 1, CAST(N'2025-11-10' AS Date), CAST(1000.00 AS Decimal(18, 2)), CAST(N'2025-11-10T07:55:28.7747478' AS DateTime2))
INSERT [ev].[WarrantyClaim] ([ClaimId], [VIN], [VehicleId], [ServiceCenterId], [CreatedByUserId], [DateDiscovered], [Description], [ImageUrl], [StatusCode], [Cost], [Note], [TechnicianId], [CompletionDate], [TotalCost], [CreatedAt]) VALUES (2, N'VIN0002', 2, 2, 2, CAST(N'2025-10-20' AS Date), N'Vehicle fails to start', NULL, N'Rejected', NULL, NULL, NULL, NULL, NULL, CAST(N'2025-11-10T07:55:28.7766431' AS DateTime2))
INSERT [ev].[WarrantyClaim] ([ClaimId], [VIN], [VehicleId], [ServiceCenterId], [CreatedByUserId], [DateDiscovered], [Description], [ImageUrl], [StatusCode], [Cost], [Note], [TechnicianId], [CompletionDate], [TotalCost], [CreatedAt]) VALUES (3, N'VIN0003', 3, 3, 1, CAST(N'2025-09-15' AS Date), N'Charging port intermittent connection', NULL, N'Completed', NULL, NULL, NULL, NULL, NULL, CAST(N'2025-11-10T07:55:28.7766431' AS DateTime2))
SET IDENTITY_INSERT [ev].[WarrantyClaim] OFF
GO
SET IDENTITY_INSERT [ev].[WarrantyHistory] ON 

INSERT [ev].[WarrantyHistory] ([HistoryId], [ClaimId], [VIN], [VehicleId], [ServiceCenterId], [CompletedByUserId], [CompletionDate], [TotalCost], [Note], [ArchivedAt]) VALUES (1, 5, N'VIN1002', 5, 2, NULL, NULL, NULL, NULL, CAST(N'2025-11-10T11:43:26.5303279' AS DateTime2))
INSERT [ev].[WarrantyHistory] ([HistoryId], [ClaimId], [VIN], [VehicleId], [ServiceCenterId], [CompletedByUserId], [CompletionDate], [TotalCost], [Note], [ArchivedAt]) VALUES (2, 9, N'VIN0002', NULL, 3, 1, CAST(N'2025-11-10' AS Date), CAST(20000.00 AS Decimal(18, 2)), N'Start repair', CAST(N'2025-11-10T12:27:00.2174908' AS DateTime2))
INSERT [ev].[WarrantyHistory] ([HistoryId], [ClaimId], [VIN], [VehicleId], [ServiceCenterId], [CompletedByUserId], [CompletionDate], [TotalCost], [Note], [ArchivedAt]) VALUES (3, 11, N'VIN0003', NULL, 1, 1, CAST(N'2025-11-10' AS Date), CAST(20000.00 AS Decimal(18, 2)), N'Start repair', CAST(N'2025-11-10T13:48:12.5767416' AS DateTime2))
SET IDENTITY_INSERT [ev].[WarrantyHistory] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Parts__6525D39D12465997]    Script Date: 11/10/2025 10:12:44 PM ******/
ALTER TABLE [ev].[Parts] ADD UNIQUE NONCLUSTERED 
(
	[PartCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61603589A661]    Script Date: 11/10/2025 10:12:44 PM ******/
ALTER TABLE [ev].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E438FDA73A]    Script Date: 11/10/2025 10:12:44 PM ******/
ALTER TABLE [ev].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehicles__C5DF234CB553C1ED]    Script Date: 11/10/2025 10:12:44 PM ******/
ALTER TABLE [ev].[Vehicles] ADD UNIQUE NONCLUSTERED 
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehicles_VIN]    Script Date: 11/10/2025 10:12:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicles_VIN] ON [ev].[Vehicles]
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WarrantyClaim_Status]    Script Date: 11/10/2025 10:12:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_WarrantyClaim_Status] ON [ev].[WarrantyClaim]
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WarrantyClaim_VIN]    Script Date: 11/10/2025 10:12:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_WarrantyClaim_VIN] ON [ev].[WarrantyClaim]
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ev].[ClaimStatusLog] ADD  DEFAULT (sysutcdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [ev].[Customers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [ev].[Parts] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [ev].[ServiceCenters] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [ev].[UsedParts] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [ev].[UsedParts] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [ev].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [ev].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [ev].[Vehicles] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [ev].[WarrantyClaim] ADD  DEFAULT ('Pending') FOR [StatusCode]
GO
ALTER TABLE [ev].[WarrantyClaim] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [ev].[WarrantyHistory] ADD  DEFAULT (sysutcdatetime()) FOR [ArchivedAt]
GO
ALTER TABLE [ev].[ClaimStatusLog]  WITH CHECK ADD  CONSTRAINT [FK_ClaimStatusLog_Claim] FOREIGN KEY([ClaimId])
REFERENCES [ev].[WarrantyClaim] ([ClaimId])
GO
ALTER TABLE [ev].[ClaimStatusLog] CHECK CONSTRAINT [FK_ClaimStatusLog_Claim]
GO
ALTER TABLE [ev].[ClaimStatusLog]  WITH CHECK ADD  CONSTRAINT [FK_ClaimStatusLog_User] FOREIGN KEY([ChangedByUserId])
REFERENCES [ev].[Users] ([UserId])
GO
ALTER TABLE [ev].[ClaimStatusLog] CHECK CONSTRAINT [FK_ClaimStatusLog_User]
GO
ALTER TABLE [ev].[UsedParts]  WITH CHECK ADD  CONSTRAINT [FK_UsedParts_Claim] FOREIGN KEY([ClaimId])
REFERENCES [ev].[WarrantyClaim] ([ClaimId])
GO
ALTER TABLE [ev].[UsedParts] CHECK CONSTRAINT [FK_UsedParts_Claim]
GO
ALTER TABLE [ev].[UsedParts]  WITH CHECK ADD  CONSTRAINT [FK_UsedParts_Part] FOREIGN KEY([PartId])
REFERENCES [ev].[Parts] ([PartId])
GO
ALTER TABLE [ev].[UsedParts] CHECK CONSTRAINT [FK_UsedParts_Part]
GO
ALTER TABLE [ev].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [ev].[Roles] ([RoleId])
GO
ALTER TABLE [ev].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [ev].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Customers] FOREIGN KEY([CustomerId])
REFERENCES [ev].[Customers] ([CustomerId])
GO
ALTER TABLE [ev].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Customers]
GO
ALTER TABLE [ev].[WarrantyClaim]  WITH CHECK ADD  CONSTRAINT [FK_Claim_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [ev].[Users] ([UserId])
GO
ALTER TABLE [ev].[WarrantyClaim] CHECK CONSTRAINT [FK_Claim_CreatedBy]
GO
ALTER TABLE [ev].[WarrantyClaim]  WITH CHECK ADD  CONSTRAINT [FK_Claim_ServiceCenter] FOREIGN KEY([ServiceCenterId])
REFERENCES [ev].[ServiceCenters] ([ServiceCenterId])
GO
ALTER TABLE [ev].[WarrantyClaim] CHECK CONSTRAINT [FK_Claim_ServiceCenter]
GO
ALTER TABLE [ev].[WarrantyClaim]  WITH CHECK ADD  CONSTRAINT [FK_Claim_Status] FOREIGN KEY([StatusCode])
REFERENCES [ev].[ClaimStatuses] ([StatusCode])
GO
ALTER TABLE [ev].[WarrantyClaim] CHECK CONSTRAINT [FK_Claim_Status]
GO
ALTER TABLE [ev].[WarrantyClaim]  WITH CHECK ADD  CONSTRAINT [FK_Claim_Technician] FOREIGN KEY([TechnicianId])
REFERENCES [ev].[Users] ([UserId])
GO
ALTER TABLE [ev].[WarrantyClaim] CHECK CONSTRAINT [FK_Claim_Technician]
GO
/****** Object:  StoredProcedure [ev].[sp_AddUsedPart]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ev].[sp_AddUsedPart]
    @ClaimId INT,
    @PartId INT,
    @Quantity INT = 1,
    @PartCost DECIMAL(18,2) = NULL,
    @AddedByUserId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        -- Kiểm tra claim tồn tại
        IF NOT EXISTS (SELECT 1 FROM ev.WarrantyClaim WHERE ClaimId = @ClaimId)
        BEGIN
            RAISERROR('Claim not found',16,1);
            ROLLBACK TRAN;
            RETURN;
        END

        INSERT INTO ev.UsedParts (ClaimId, PartId, Quantity, PartCost)
        VALUES (@ClaimId, @PartId, @Quantity, @PartCost);

        -- Optionally update claim total cost
        UPDATE ev.WarrantyClaim
        SET TotalCost = COALESCE(TotalCost,0) + ISNULL(@PartCost,0) * @Quantity
        WHERE ClaimId = @ClaimId;

        COMMIT TRAN;
        SELECT SCOPE_IDENTITY() AS UsedPartId;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [ev].[sp_ArchiveClaim]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ev].[sp_ArchiveClaim]
    @ClaimId INT,
    @ArchiverUserId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        -- Lấy dữ liệu claim
        DECLARE @VIN NVARCHAR(50),
                @VehicleId INT,
                @ServiceCenterId INT,
                @TechnicianId INT,
                @CompletionDate DATE,
                @TotalCost DECIMAL(18,2),
                @Note NVARCHAR(2000);

        SELECT @VIN = VIN, @VehicleId = VehicleId, @ServiceCenterId = ServiceCenterId,
               @TechnicianId = TechnicianId, @CompletionDate = CompletionDate,
               @TotalCost = TotalCost, @Note = Note
        FROM ev.WarrantyClaim WHERE ClaimId = @ClaimId;

        IF @VIN IS NULL
        BEGIN
            RAISERROR('Claim not found',16,1);
            ROLLBACK TRAN;
            RETURN;
        END

        INSERT INTO ev.WarrantyHistory (ClaimId, VIN, VehicleId, ServiceCenterId, CompletedByUserId, CompletionDate, TotalCost, Note)
        VALUES (@ClaimId, @VIN, @VehicleId, @ServiceCenterId, @TechnicianId, @CompletionDate, @TotalCost, @Note);

        -- Update claim status to Closed
        UPDATE ev.WarrantyClaim
        SET StatusCode = 'Closed'
        WHERE ClaimId = @ClaimId;

        INSERT INTO ev.ClaimStatusLog (ClaimId, OldStatus, NewStatus, ChangedByUserId, Comment)
        VALUES (@ClaimId, 'Completed', 'Closed', @ArchiverUserId, 'Archived to history');

        COMMIT TRAN;
        SELECT 1 AS Success;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [ev].[sp_CompleteClaim]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ev].[sp_CompleteClaim]
    @ClaimId INT,
    @TechnicianId INT,
    @CompletionDate DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        IF NOT EXISTS (SELECT 1 FROM ev.WarrantyClaim WHERE ClaimId = @ClaimId)
        BEGIN
            RAISERROR('Claim not found',16,1);
            ROLLBACK TRAN;
            RETURN;
        END

        UPDATE ev.WarrantyClaim
        SET StatusCode = 'Completed',
            TechnicianId = @TechnicianId,
            CompletionDate = COALESCE(@CompletionDate, CONVERT(DATE, SYSUTCDATETIME()))
        WHERE ClaimId = @ClaimId;

        INSERT INTO ev.ClaimStatusLog (ClaimId, OldStatus, NewStatus, ChangedByUserId, Comment)
        VALUES (@ClaimId, 'InProgress', 'Completed', @TechnicianId, 'Work completed by technician');

        COMMIT TRAN;
        SELECT 1 AS Success;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [ev].[sp_CreateClaim]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ev].[sp_CreateClaim]
    @VIN NVARCHAR(50),
    @VehicleId INT = NULL,
    @ServiceCenterId INT,
    @CreatedByUserId INT,
    @DateDiscovered DATE,
    @Description NVARCHAR(2000) = NULL,
    @ImageUrl NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        -- Nếu vehicleId NULL, có thể cố gắng lookup theo VIN
        IF @VehicleId IS NULL
        BEGIN
            SELECT TOP(1) @VehicleId = VehicleId FROM ev.Vehicles WHERE VIN = @VIN;
        END

        INSERT INTO ev.WarrantyClaim (VIN, VehicleId, ServiceCenterId, CreatedByUserId, DateDiscovered, Description, ImageUrl, StatusCode)
        VALUES (@VIN, @VehicleId, @ServiceCenterId, @CreatedByUserId, @DateDiscovered, @Description, @ImageUrl, 'Pending');

        DECLARE @NewClaimId INT = SCOPE_IDENTITY();

        -- Log status change
        INSERT INTO ev.ClaimStatusLog (ClaimId, OldStatus, NewStatus, ChangedByUserId, Comment)
        VALUES (@NewClaimId, NULL, 'Pending', @CreatedByUserId, 'Claim created');

        COMMIT TRAN;

        SELECT @NewClaimId AS ClaimId;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [ev].[sp_GetPendingClaims]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ev].[sp_GetPendingClaims]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT c.ClaimId, c.VIN, v.Model, c.DateDiscovered, c.Description, sc.Name AS ServiceCenter, u.FullName AS CreatedBy, c.StatusCode, c.CreatedAt
    FROM ev.WarrantyClaim c
    LEFT JOIN ev.Vehicles v ON c.VehicleId = v.VehicleId
    LEFT JOIN ev.ServiceCenters sc ON c.ServiceCenterId = sc.ServiceCenterId
    LEFT JOIN ev.Users u ON c.CreatedByUserId = u.UserId
    WHERE c.StatusCode = 'Pending'
    ORDER BY c.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [ev].[sp_RegisterUser]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ev].[sp_RegisterUser]
    @Username NVARCHAR(100),
    @Password NVARCHAR(200),
    @FullName NVARCHAR(200) = NULL,
    @Email NVARCHAR(200) = NULL,
    @Phone NVARCHAR(20) = NULL,
    @RoleName NVARCHAR(50) = 'SC'  -- mặc định SC (Service Center staff)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @roleId INT;

        SELECT @roleId = RoleId FROM ev.Roles WHERE RoleName = @RoleName;
        IF @roleId IS NULL
        BEGIN
            RAISERROR('Role does not exist',16,1);
            RETURN;
        END

        DECLARE @pwdHash VARBINARY(64) = HASHBYTES('SHA2_256', CONVERT(VARBINARY(4000), @Password));

        INSERT INTO ev.Users (Username, PasswordHash, FullName, Email, Phone, RoleId)
        VALUES (@Username, @pwdHash, @FullName, @Email, @Phone, @roleId);

        SELECT SCOPE_IDENTITY() AS NewUserId;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [ev].[sp_UpdateClaimStatus]    Script Date: 11/10/2025 10:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ev].[sp_UpdateClaimStatus]
    @ClaimId INT,
    @NewStatus NVARCHAR(30),
    @ChangedByUserId INT,
    @Note NVARCHAR(2000) = NULL,
    @Cost DECIMAL(18,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        DECLARE @OldStatus NVARCHAR(30);
        SELECT @OldStatus = StatusCode FROM ev.WarrantyClaim WHERE ClaimId = @ClaimId;

        IF @OldStatus IS NULL
        BEGIN
            RAISERROR('Claim not found',16,1);
            ROLLBACK TRAN;
            RETURN;
        END

        UPDATE ev.WarrantyClaim
        SET StatusCode = @NewStatus,
            Note = COALESCE(@Note, Note),
            Cost = COALESCE(@Cost, Cost)
        WHERE ClaimId = @ClaimId;

        INSERT INTO ev.ClaimStatusLog (ClaimId, OldStatus, NewStatus, ChangedByUserId, Comment)
        VALUES (@ClaimId, @OldStatus, @NewStatus, @ChangedByUserId, @Note);

        COMMIT TRAN;
        SELECT 1 AS Success;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
USE [master]
GO
